<section class="componentView">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
            <!-- <a routerLink="/user/dashboard">Anchor Onboarding</a> -->
        </li>
        
    </ol>
    <div class="container-fluid">

        <div class="contentHeader d-flex">
            <div class="heading col-md-3">
                <div class="row">
                    <h3> {{constObject.Heading}} </h3>
                </div>

            </div>
            <div class="buttons mb-2 pr-0 col-md-9">
                <button class="btn btn-primary"  (click)="exportCSV()" >Export</button>
            </div>
        </div>
    
    <app-grid *ngIf="show" [UIObject]="constObject"  (Action)="openAction($event)" ></app-grid>

    </div>
</section>
