$textColor: #6b337b;
$buttonColor: #6b337b;
$borderColor : #cccccc;
$shadowColor : #000000;
$UnselectedColor : #87888B;
$UnselectedColorBorder: #0072AA;
$backgroundColor : #ffffff;
$validationErrorColor: #ff0000;
$inputBorderColor:#707070;

 
// #0072AA