$textColor: #843C8E;
$buttonColor: #843C8E;
$borderColor : #cccccc;
$shadowColor : #000000;
$UnselectedColor : #87888B;
$UnselectedColorBorder: #843C8E;
$backgroundColor : #ffffff;
$validationErrorColor: #ff0000;
$inputBorderColor:#707070;