
.dialogBox{
    .modal-header{
        border-bottom: unset;
        .close{
            &:focus{
                outline: unset;
            }
        }
            h4.title{
                position: relative;
                font-size: 20px;
                padding-left: 15px;
                &::before{
                width: 2px;
                height: 30px;
                content: '';
                position: absolute;
                left: 0;
                }
                &.warning{
                    color: #ffc107;
                    &::before{
                    background: #ffc107;
                    }
                }
    }
 }

}