<div class="form-group row" [formGroup]="form">
    <!-- <label class="col-md-3 form-control-label" [attr.for]="field.label">
      {{field.label}}
      <strong class="text-danger" *ngIf="field.required">*</strong>
    </label> -->
    <div class="col-md-12" [ngSwitch]="field.type">
      <textField *ngSwitchCase="'TextBox'" [field]="field" [form]="form"></textField>
      <dropdown *ngSwitchCase="'Select'" [field]="field" [form]="form"></dropdown>
      <!-- <checkbox *ngSwitchCase="'checkbox'" [field]="field" [form]="form"></checkbox>
      <radio *ngSwitchCase="'radio'" [field]="field" [form]="form"></radio>
      <file *ngSwitchCase="'file'" [field]="field" [form]="form"></file> -->
      <div class="alert alert-danger my-1 p-2 fadeInDown animated" *ngIf="!isValid && isDirty">{{field.label}} is required</div>
    </div>
  </div>