<header class="header">
    <nav class="navbar navbar-light navbar-expand-lg">
      <div class="container-fluid">
                <a class="navbar-brand " routerLink="/user/dashboard">
                    <img src="../../../assets/images/Meezan-Bank.png" class="logo" alt="logo">
                </a>
               
                <div class="d-flex align-items-center">
                   
                    
                  <div class="d-flex flex-column">
                      <h5 class="text-right m-0"><strong>Hi, {{userDetail.Name}}</strong></h5>
                      <small class="text-right"> {{userDetail.BankName}} </small>
                  </div>
                </div>
        </div>
    </nav>
  </header>
