@import '../../../assets/style/variable.scss';

.navbar .navbar-brand .logo {
    width: 70%;
}

header {
    box-shadow: 0px 0px 7px -2px #7a7979;
    border-bottom: 1.5px solid #a7a7a7;
    z-index: 3;
    position: relative; 
}