@import '../../../assets/style/variable.scss';

.navbar .navbar-brand .logo {
    width: 15%;
}

header {
    box-shadow: 0px 0px 7px -2px #7a7979;
    z-index   : 3;
    position  : relative;


    svg {
        height: 22px;
        fill  : red;
        cursor: pointer;
    }

    .flex-column {
        h5 {
            font-size: 18px;
        }

        small {
            font-size: 11px;
        }
    }
}