<!-- <form (ngSubmit)="onSubmit.emit(this.form.value)" [formGroup]="form" class="form-horizontal"> -->
<!-- {{childForm.value |json}} -->

<div [formGroup]="childForm" class=" tabContent col-md-12">
    <h4> {{heading}} </h4>
    <!-- <form-builder   [fields]="fields"  [form]="getForm()" ></form-builder> -->
    <div class="row">

        <div class="col-md-6" *ngFor="let field of fields;let i=index; trackBy:trackByFn">
            <div class="form-group col-md-12 p-0 input-group " [ngSwitch]="field.type">
                <span *ngSwitchCase="'TextBox'" [hidden]="!inputCondition(field.options?.visible)"
                    class="col-md-12 p-0 has-float-label">
                    <input class="form-control" [id]="field.name" appMinNumber [minlength]="field.options?.minLength"
                        [maxlength]="field.options?.maxLength" autocomplete="off" [type]="field.inputType"
                        [name]="field.name" [formControlName]="field.name" [placeholder]="field.label"
                        [ngClass]="{'validationError': (childForm.controls[field.name].errors && (childForm.controls[field.name].dirty || childForm.controls[field.name].touched))}" />
                    <label [for]="field.name"> {{field.label}} </label>
                    <p *ngIf="!childForm.controls[field.name].pristine && !childForm.controls[field.name].valid && field.options.message"
                        class="errorMessage">
                        <!-- <small *ngIf="loginForm.controls['Password'].hasError('required') && (loginForm.controls.Password.dirty || loginForm.controls.Password.touched)">This field is required</small> -->
                        <small> {{field.options.message}} </small>
                    </p>
                    <!-- <img src="../../../assets/images/info.svg" alt=""> -->
                    <svg *ngIf="field.options?.Tooltip" [pTooltip]="field.options.Tooltip" tooltipPosition="top"
                        version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 29.535 29.535"
                        style="enable-background:new 0 0 29.535 29.535;" xml:space="preserve">
                        <title>{{field.options.Tooltip}} </title>

                        <g>
                            <path d="M14.768,0C6.611,0,0,6.609,0,14.768c0,8.155,6.611,14.767,14.768,14.767c8.154,0,14.766-6.612,14.766-14.767
		C29.534,6.609,22.923,0,14.768,0z M14.768,27.126c-6.83,0-12.361-5.532-12.361-12.359c0-6.828,5.531-12.362,12.361-12.362
		c6.824,0,12.359,5.535,12.359,12.362C27.128,21.594,21.592,27.126,14.768,27.126z" />
                            <polygon
                                points="16.83,11.143 12.679,11.143 12.679,11.15 11.134,11.15 11.134,13.563 12.679,13.563 12.679,22.181 11.039,22.181 
        11.039,24.487 12.679,24.487 12.679,24.503 16.83,24.503 16.83,24.487 18.188,24.487 18.188,22.181 16.83,22.181 	" />
                            <title>{{field.options.Tooltip}} </title>
                            <path d="M14.726,9.504c1.395,0,2.24-0.928,2.24-2.077c-0.027-1.172-0.846-2.072-2.184-2.072c-1.336,0-2.211,0.899-2.211,2.072
		C12.57,8.576,13.417,9.504,14.726,9.504z" />
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                            <g>
                            </g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </span>

                <span class="col-md-12 p-0 has-float-label" *ngSwitchCase="'Select'">
                    <select [name]="field.name" [id]="field.name" [formControlName]="field.name"
                        [ngClass]="{'validationError': (childForm.controls[field.name].errors && (childForm.controls[field.name].dirty || childForm.controls[field.name].touched))}"
                        class="form-control">label
                        <option value="" selected disabled> Select {{field.label}} </option>
                        <!-- <option value="1"    > Select {{field.label}} </option> -->
                        <option *ngFor="let op of dropdownValues[field.options.dataSource]" [value]="op.ID"> {{op.Name}}
                        </option>
                    </select>
                    <label [for]="field.name">{{field.label}}</label>

                </span>
                <span class="col-md-12 p-0 has-float-label" *ngSwitchCase="'GroupSelect'">

                    <select [id]="field.name" [formControlName]="field.name"
                        [ngClass]="{'validationError': (childForm.controls[field.name].errors && (childForm.controls[field.name].dirty || childForm.controls[field.name].touched))}"
                        class="form-control">
                        <optgroup *ngFor="let main of GroupedData" [label]="main.CompanyName">
                            <option *ngFor="let sub of main.Buyers" [value]="sub.BuyerCode"> {{sub.BuyerCompanyName}}
                            </option>
                        </optgroup>

                    </select>
                    <label [for]="field.name">{{field.label}}</label>
                </span>
                <span class="col-md-12 p-0 has-float-label" *ngSwitchCase="'DateRangePicker'">
                    <input type="text" readonly [placeholder]="field.label" class="form-control"
                        (bsValueChange)="dateRangeCreated($event ,field)" bsDaterangepicker
                        [formControlName]="field.name" [minDate]="minDate"
                        [ngClass]="{'validationError': (childForm.controls[field.name].errors && (childForm.controls[field.name].dirty || childForm.controls[field.name].touched))}"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'cust-date', adaptivePosition: true }">
                    <label [for]="field.name"> {{field.label}} </label>
                </span>
                <span class="col-md-12 p-0 has-float-label" *ngSwitchCase="'DatePicker'">
                    <input type="text" readonly [placeholder]="field.label" class="form-control" bsDatepicker
                        [formControlName]="field.name" [minDate]="minDate"
                        [ngClass]="{'validationError': (childForm.controls[field.name].errors && (childForm.controls[field.name].dirty || childForm.controls[field.name].touched))}"
                        [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'cust-date', adaptivePosition: true  }">
                    <label [for]="field.name"> {{field.label}} </label>
                </span>
            </div>
        </div>
        <div class="col-md-12 form-group" *ngFor="let field of textAreaList;let i=index; trackBy:trackByFn">
            <span class="col-md-12 p-0 has-float-label" [hidden]="!inputCondition(field.options?.visible)">
                <textarea class="form-control" [id]="field.name" requiredforapproval="1" maxlength="2000" rows="3"
                    [name]="field.name" [formControlName]="field.name" [placeholder]="field.label"></textarea>
                <label [for]="field.name"> {{field.label}} </label>

            </span>
        </div>
    </div>
    <div class="row d-flex" *ngIf="buttons.length!=0">
        <div class="col-md-12">
            <div class="text-right">
                <ng-template ngFor let-button [ngForOf]="buttons">
                    <button
                        *ngIf="(button.options.submit==1 && buttonsCondition(button.options.visible)); else resetButton"
                        type="button" (click)="saveValue(button)" [disabled]="!mainForm.form.valid"
                        [class]="button.options.class">{{button.name}} </button>

                    <ng-template #resetButton>
                        <button type="button" *ngIf="buttonsCondition(button.options.visible)"
                            (click)="saveValue(button)" [disabled]="specificCondition(button.options)"  [class]="button.options.class">
                            {{button.name}} </button>

                    </ng-template>
                </ng-template>
            </div>
        </div>

    </div>
</div>
<!-- </form> -->