<!-- <form (ngSubmit)="onSubmit.emit(this.form.value)" [formGroup]="form" class="form-horizontal"> -->
    <form    [formGroup]="parentForm" class="col-md-12">
        <h4> {{heading}} </h4>
    <form-builder   [fields]="fields"  [form]="parentForm" ></form-builder>
    <!-- <div class="row">
         <div class="col-md-6" *ngFor="let field of fields">
            <app-field-builder [field]="field" [form]="parentForm"></app-field-builder>

        </div>
    </div> -->
        <div class="row d-flex" *ngIf="buttons.length!=0">
            <div class="col-md-12 p-0">
    
                <div  class="text-right" >
                    <ng-template ngFor let-button [ngForOf]="buttons">
                         
                        <button  *ngIf="button.options.submit==1; else resetButton" type="submit" (click)="saveValue()"  [disabled]="!parentForm.valid"   [class]="button.options.class"
                         >{{button.name}} </button>
          
                        <ng-template #resetButton>
                          <button type="submit"  [class]="button.options.class">
                          {{button.name}} </button>
          
                        </ng-template>
                    </ng-template>
                </div>
            </div>

        </div>
    </form>
<!-- </form> -->