<section class="login">
    <div class="col-md-12 title  ">
        <img src="../../../assets/images/Meezan-Bank.png" alt="" srcset="">
    </div>
    <div class="col-md-12 title">
        <h4 class="pb-2 border-bottom ">Reset Password</h4>
    </div>
    <form [formGroup]="form">


        <div class="col-md-12">
            <div class="row">
                <div class="form-group input-group">
                    <span class="col-md-12 has-float-label">
                        <input class="form-control" class="form-control" formControlName="Password" rmcon id="password"
                            type="password" placeholder="password" />
                        <label for="first">New Password</label>
                    </span>

                </div>
                <div class="form-group   input-group">
                    <span class="col-md-12 has-float-label">
                        <input class="form-control" class="form-control" formControlName="ConfirmPassword"
                            id="ConfirmPassword" type="password"
                            [ngClass]="{'validationError': passwordMismatch || form.controls['ConfirmPassword'].pristine && (form.controls.ConfirmPassword.dirty || form.controls.ConfirmPassword.touched)}"
                            placeholder="ConfirmPassword" />
                        <label for="first">Confirm Password</label>
                        <p *ngIf="form.controls['ConfirmPassword'].errors || passwordMismatch" class="errorMessage">
                            <!-- <small *ngIf="form.controls['Password'].hasError('required') && (form.controls.Password.dirty || form.controls.Password.touched)">This field is required</small> -->
                            <small *ngIf="passwordMismatch && form.valid">Password Mismatch</small>
                        </p>
                    </span>

                </div>
            </div>
        </div>
        <div class="d-sm-flex flex-sm-row flex-xs-column col-md-12 justify-content-center mb-3">
            <button class="btn btn-primary btn-secondary " [disabled]="!form.valid" (click)="ResetPassword()"
                type="submit">Reset Password</button>
        </div>
    </form>
</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>