<section class="customGrid">
    <div class="contentHeader d-flex">
        <div class="heading col-md-3">
            <div class="row">
                <h3> {{UIObject.Heading}} </h3>
            </div>

        </div>
        <div class="buttons mb-2 pr-0 col-md-9">
            <form [formGroup]="fileUploadForm" >
            <button class="btn btn-primary" (click)="exportCSV()">Export</button>
            <ng-template ngFor let-button [ngForOf]="buttonsArray">
                <button *ngIf="button.Options.texttype!='file' ; else FileUpload" [class]="button.Options.class"
                    (click)="NavigateUrl(button.Options)"> {{button.Options.name}} </button>
                <ng-template #FileUpload>
                    <input #myFleOffer type="file" style="display: none;" class="inputfile" name="myfile"
                        id="mFileOffer" (change)=onFileChange($event,button.Options)
                        
                        #hiddenFile />
                    <button class="btn btn-primary  mr-2" type="button" (click)="hiddenFile.click()">
                        {{button.Options.name}} </button>

                </ng-template>
            </ng-template>
        </form>
        </div>
    </div>
    <div class="gridArea table-responsive" id="nav-scrollbar">
        <table class="table">
            <thead>
                <!-- <ng-container *ngFor="let group of header"> -->
                <tr>
                    <th *ngFor="let head of header">
                        {{head.DisplayText}}
                    </th>
                    <th *ngIf="options.length!=0">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of value">
                    <td *ngFor="let col of header">
                        {{data[col.Column]}}
                    </td>

                    <td *ngIf="options.length!=0">
                        <!-- <div ngbDropdown display="bottom-left" class="d-inline"> -->
                            <div ngbDropdown class="d-inline-block" style="position: static;" placement="bottom-right">
                            <p class="y" id="GridDropDown" ngbDropdownToggle>Select Actions</p>
                            <!-- <img class="pointer" src="../../../assets/images/menu.svg" alt="menu" width="15" ngbDropdownToggle> -->

                            <div ngbDropdownMenu aria-labelledby="GridDropDown" class="options">
                                <button [hidden]="checkCondition(data,action.DispCond)" 
                                    ngbDropdownItem *ngFor="let action of options" (click)="sendAction(data,action)">
                                    {{action.ActionItem}} </button>

                            </div>
                        </div>

                    </td>
                </tr>
                <tr class="text-center" *ngIf="(value.length!=0 && TotalCount>value.length)">
                    <td colspan="6"> <button class="btn" (click)="paginateEvent()">Load More</button></td>
                </tr>

            </tbody>
        </table>
        <span class="d-flex align-items-center justify-content-center h-100" *ngIf="(value.length==0)">No Data
            Available</span>
    </div>

</section>
<ngx-spinner [visible]="showSpinner" [config]="spinnerConfig"></ngx-spinner>