<section class="customGrid">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <!-- <ng-container *ngFor="let group of header"> -->
                <tr>
                    <th *ngFor="let head of header">
                        {{head.DisplayText}}
                    </th>
                    <th *ngIf="options.length!=0">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of val.Data">
                    <td *ngFor="let col of header">
                        {{data[col.Column]}}
                    </td>

                    <td  *ngIf="options.length!=0">
                        <div ngbDropdown class="d-inline-block">
                            <p class="y" id="GridDropDown" ngbDropdownToggle>Select Actions</p>
                            <div ngbDropdownMenu aria-labelledby="GridDropDown" class="options">
                                <button [hidden]="checkCondition(data,action.DispCond)" class="border-bottom"  ngbDropdownItem *ngFor="let action of options"
                                    (click)="sendAction(data,action)">
                                    {{action.ActionItem}}  </button>

                            </div>
                        </div>
                        
                    </td>
                </tr>
            </tbody>

            <!-- </ng-container> -->
        </table>
        <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" (pageChange)="paginate($event)" size="sm" [(page)]="page"></ngb-pagination> -->
    </div>

</section>