.customGrid {
    .gridArea {
        height: 75vh;
        width : 100%;

        &.table-responsive {
            max-height: 100%;

            .table {
                text-align: center;
                margin    : 0;

                th {
                    border-top      : unset;
                    background-color: #e9ecef;
                    position        : sticky;
                    top             : 0;
                    z-index         : 2;

                    &:last-child {
                        position: sticky;
                        right   : 0;
                    }
                }

                tbody {
                    tr {

                        &:focus {
                            outline: unset;
                        }

                        &:nth-child(odd) {
                            background-color: #fff;
                        }

                        &:nth-child(even) {
                            background-color: #e9ecef;
                        }
                    }
                }
            }
        }
    }

    tr th {
        font-size  : 13px;
        font-weight: bold;
        text-align : center;
    }

    tr td {
        font-size : 13px;
        text-align: center;
        padding   : 15px 0px;

        p {
            margin-bottom: 0px;
        }

        button {
            height   : 21px;
            font-size: 12px;
            padding  : 0;

            &:focus {
                outline: none;
            }
        }
    }

}