.cust-table {
    tr {

        text-align: center;

    }

    .chkbox {
        padding-left: 10px;
        font-weight : bold;
    }
}
.fileSize{
    font-size: 12px;
    padding: 0px 10px;
}
.table thead th {
    border: none;
}