<form [formGroup]="childForm">
    <div class="col-md-12 tabContent " *ngIf="fileObject?.length<options.Options.maxFiles">
        <h4>{{heading}} Upload </h4>
        <div class="row ">

            <div class="form-group col-md-10 input-group">
                <span class="col-md-12 p-0 has-float-label">
                    <input class="form-control" class="form-control" id="filename" type="text" [readonly]="upload"
                        [formControlName]="fields[0].name" placeholder="Name" />
                    <label for="filename">&nbsp;File Name &nbsp;</label>
                    <input #myFleOffer type="file" style="display: none;" class="inputfile" name="mFileOffer"
                        id="mFileOffer" (change)=onFileChange($event) accept=".pdf" #hiddenFile />

                </span>

            </div>
            <div class="col-md-2 text-right ">
                <button class="btn btn-primary  mr-2" type="button" (click)="hiddenFile.click()">Browse</button>

            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 " *ngIf="(fields.length==4 && Status!=4 )">
                <fieldset data-role="controlgroup">
                    <input type="checkbox" [name]="fields[3].name" [id]="fields[3].name"
                        [formControlName]="fields[3].name" class="custom" />
                    <label [for]="fields[3].name" class="chkbox" style="padding-left: 10px;"> {{fields[3].label}}
                    </label>

                </fieldset>
            </div>
            <div class="col-md-4" *ngFor="let field of fields.slice(1);let i=index; trackBy:trackByFn">
                <div class="form-group col-md-12 p-0 input-group " [ngSwitch]="field.type">
    
                    <!-- inputs -->
                    <span *ngSwitchCase="'TextBox'" class="col-md-12 p-0 has-float-label">
                        <input class="form-control" [id]="field.name" autocomplete="off" [type]="field.inputType"
                            [name]="field.name" [formControlName]="field.name" [placeholder]="field.label" />
                        <label [for]="field.name"> {{field.label}} </label>
    
                    </span>
    
                 
                    
                    <span class="col-md-12 p-0 has-float-label" *ngSwitchCase="'DatePicker'">
                        <input type="text" readonly [placeholder]="field.label" class="form-control" bsDatepicker
                            [formControlName]="field.name"
                            [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', containerClass: 'cust-date' ,adaptivePosition: true  }">
                        <label [for]="field.name"> {{field.label}} </label>
                    </span>
                </div>
            </div>
         
            <div class="col-md-12 p-0 text-right">
                <button class="btn btn-primary " (click)="SendCall('save')"
                    [disabled]="!childForm.controls[fields[0].name].valid" type="submit">Save </button>
                <button class="btn btn-primary ml-2" (click)="SendCall('cancel')" type="button">Cancel</button>
            </div>

        </div>
    </div>
</form>

<div class="col-md-12 tabContent" *ngIf="fileObject?.length>0">
    <h4>{{heading}} Documents</h4>
    <table class=" cust-table table table-striped">
        <thead>
            <tr>
                <th>File Name</th>
                <ng-container *ngIf="Status!=0">
                    <th *ngFor="let head of options.Headers"> {{head.DisplayText}} </th>
                </ng-container>
                <th> Uploaded Date </th>
                <th>Action </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let File of fileObject; let i=index">
                <td>
                    {{File.FileDisplayName}}
                </td>

                <ng-container *ngIf="Status!=0">
                    <td *ngFor="let head of options.Headers"> {{File[head.Column]}} </td>
                </ng-container>

                <td>
                    {{File.UploadDate | date}}
                </td>

                <td>
                    {{options.sendAPICall}}
                    <div ngbDropdown class="d-inline-block">
                        <p class="y" id="GridDropDown" ngbDropdownToggle>Select Actions</p>
                        <div ngbDropdownMenu aria-labelledby="GridDropDown">
                            <button *ngIf="File.ID" (click)="FileUploadEvent.emit(File)" ngbDropdownItem>View</button>
                            <button   *ngIf="CheckCondition(options.Options.optionDelete)" (click)="DeleteFile(File,i)"
                                ngbDropdownItem>Delete </button>

                        </div>
                    </div>

                </td>
            </tr>
        </tbody>

        <!-- </ng-container> -->
    </table>
    <!-- <ngb-pagination class="d-flex justify-content-center" [collectionSize]="70" (pageChange)="paginate($event)" size="sm" [(page)]="page"></ngb-pagination> -->
</div>

<!-- <form-builder  [fields]="file"  ></form-builder> -->