<section class="componentView">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item">
            <a routerLink="/user/dashboard">Anchor Onboarding</a>
        </li>
        <li class="breadcrumb-item active">
            <a routerLink="/user/dashboard">Add</a>
        </li>
    </ol>
    <div class="container-fluid">

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1">
                <a ngbNavLink>Onboarding Request</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="anchorDetailForm">
                        <div class=" tabContent">


                            <div class="col-md-12  ">
                                <h4>Anchor Details</h4>
                                <div class="row">
                                    <div class="form-group col-md-6 input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="Anchor" type="text"
                                                formControlName="AnchorName" placeholder="Name" />
                                            <label for="Anchor">Anchor Name</label>
                                        </span>

                                    </div>
                                    <div class="form-group   col-md-6  input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="Industry" type="text"
                                                formControlName="AnchorName" placeholder="Industry" />
                                            <label for="Industry">Industry</label>
                                        </span>

                                    </div>
                                    <div class="form-group col-md-6 input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="NTN" type="text"
                                                formControlName="Industry" placeholder="NTN No" />
                                            <label for="NTN">NTN No </label>
                                        </span>

                                    </div>
                                    <div class="form-group   col-md-6  input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="Registered" type="text"
                                                formControlName="Office" placeholder="Registered Office" />
                                            <label for="Registered">Registered Office</label>
                                        </span>

                                    </div>
                                    <div class="form-group   col-md-6  input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="IBAN" type="text"
                                                formControlName="IBAN" placeholder="IBAN  " />
                                            <label for="IBAN">IBAN </label>
                                        </span>

                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="text-right">
                                        <button class="btn btn-primary mr-2" type="button"
                                            (click)="nav.select(2)">Create Offer</button>
                                        <button class="btn btn-primary ml-2" type="button">Reject</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>

                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>Program Offer</a>
                <ng-template ngbNavContent>
                    <form [formGroup]="anchorProgramForm">

                        <div class=" tabContent">

                            <div class="col-md-12  ">
                                <h4>Offer Details</h4>
                                <div class="row">
                                    <div class="form-group col-md-6 input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="ProgramSize "
                                                type="text" formControlName="ProgramSize" placeholder="Program Size" />
                                            <label for="ProgramSize">Program Size </label>
                                        </span>

                                    </div>
                                    <div class="form-group   col-md-6  input-group">
                                        <span class="col-md-12 has-float-label">
                                            <!-- <input class="form-control" class="form-control" id="Industry" type="text"
                                            placeholder="Industry" /> -->
                                            <select name="programType" id="programType" formControlName="ProductType"
                                                class="form-control">
                                                <option value="undefined" disabled>Select Product Type</option>
                                                <option value="0" selected>Morabaha Advance</option>

                                            </select>
                                            <label for="programType">Product Type</label>
                                        </span>

                                    </div>
                                    <div class="form-group col-md-6 input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="Tenure" type="text"
                                                formControlName="Tenure" placeholder="Tenure" />
                                            <label for="NTN">Tenure </label>
                                        </span>

                                    </div>
                                    <div class="form-group   col-md-6  input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="financingRate"
                                                type="text" formControlName="FinancingRate"
                                                placeholder="Financing Rate" />
                                            <label for="financingRate">Financing Rate</label>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" tabContent">

                            <div class="col-md-12  ">
                                <h4>Upload Offer </h4>
                                <div class="row mb-3">
                                    <div class="form-group col-md-7 input-group">
                                        <span class="col-md-12 has-float-label">
                                            <input class="form-control" class="form-control" id="Anchor" type="text"
                                                placeholder="Name" />
                                            <label for="Anchor">&nbsp;Anchor Name&nbsp;</label>
                                            <input #myFleOffer type="file" style="display: none;" class="inputfile"
                                                name="mFileOffer" id="mFileOffer" (change)="onFileSelectOffer($event)"
                                                accept=".pdf" #hiddenFile />

                                        </span>

                                    </div>
                                    <div class="col-md-5 text-right pt-2 ">
                                        <div class="text-right">
                                            <button class="btn btn-primary mr-2" type="button"
                                                (click)="hiddenFile.click()">Attach</button>
                                            <button class="btn btn-primary ml-2" disabled type="button">Confirm</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12 p-0">
                                    <div class="text-right">
                                        <button class="btn btn-primary mr-2" type="submit">Send Offer</button>
                                        <button class="btn btn-primary ml-2" type="button">Reject</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class=" tabContent" *ngIf="selectedFile.length!=0">

                            <div class="col-md-12  ">
                                <h4>Uploaded Offer </h4>
                                <div class="row">
                                    <div class="  customGrid">
                                        <table class="table table-striped">
                                            <thead>
                                                <!-- <ng-container *ngFor="let group of header"> -->
                                                <tr>
                                                    <th>File Name</th>
                                                    <th>Upload Date </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" value="GDvjadv">
                                                    </td>
                                                    <td>acscacasc</td>
                                                    <td>
                                                        <div ngbDropdown class="d-inline-block">
                                                            <p class="y" id="dropdownBasic1" ngbDropdownToggle>Select
                                                                Actions</p>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                                <button ngbDropdownItem>View</button>
                                                                <button ngbDropdownItem>Delete </button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <!-- </ng-container> -->
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink>Agreement Upload</a>
                <ng-template ngbNavContent>
                    <!-- <div class=" tabContent">

                        <div class="col-md-12  ">
                            <div class="row">
                                <div class="form-group col-md-10 input-group">
                                    <span class="col-md-12 has-float-label">
                                        <input class="form-control" class="form-control" id="Anchor" type="text"
                                            placeholder="Name" />
                                        <label for="Anchor">Anchor Name</label>
                                        <input #myFle type="file" style="display: none;" class="inputfile" name="mFile"
                                            id="mFile" (change)=onFileSelect($event) accept=".csv" />

                                    </span>

                                </div>
                                <div class="col-md-2  ">
                                    <button class="btn btn-primary mr-3" type="button">Attach Document</button>

                                </div>
                            </div>
                            <div class="d-sm-flex flex-sm-row flex-xs-column justify-content-end">
                                <button class="btn btn-primary mr-3" type="button"> Upload</button>
                                <button class="btn btn-primary ml-3" type="button">Cancel</button>
                            </div>
                        </div>

                    </div> -->

                    <div class=" tabContent">
                        <form [formGroup]="anchorAgreementForm">

                            <div class="col-md-12  ">
                                <div class="row mb-2">
                                    <div class="col-md-6">
                                        <h4>Upload Agreement </h4>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <input #myFleAgreement type="file" style="display: none;" class="inputfile"
                                            name="mFileAgreement" id="mFileAgreement"
                                            (change)="onFileSelectAgreement($event)" accept=".pdf" #hiddenAgreement />
                                        <button class="btn btn-primary mr-3" type="button"
                                            (click)="hiddenAgreement.click()"> Upload Document</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="  customGrid">
                                        <table class="table table-striped">
                                            <thead>
                                                <!-- <ng-container *ngFor="let group of header"> -->
                                                <tr>
                                                    <th>File Name</th>
                                                    <th>Upload Date </th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <!-- <span class=" has-float-label">
                                                            <input class="form-control" class="form-control"
                                                                id="financingRate" type="text" value="65156"
                                                                placeholder="Financing Rate" />
                                                            <label for="financingRate">File Name</label>
                                                        </span> -->
                                                        ascac
                                                    </td>
                                                    <td>acscacasc</td>
                                                    <td>
                                                        <div ngbDropdown class="d-inline-block">
                                                            <p class="y" id="dropdownBasic1" ngbDropdownToggle>Select
                                                                Actions</p>
                                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                                <button ngbDropdownItem>Action - 1</button>
                                                                <button ngbDropdownItem>Another Action</button>
                                                                <button ngbDropdownItem>Something else is here</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>

                                            <!-- </ng-container> -->
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-5 "></div>

    </div>
</section>