<section class="componentView">
    <ol class="breadcrumb m-3">
        <li class="breadcrumb-item">
            <a routerLink="/User/Anchor">Anchor Onboarding</a>
        </li>
        <li class="breadcrumb-item active">
            View
        </li>
    </ol> 
    <div class="container-fluid" *ngIf="AnchorObject.length!=0">

        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs" (navChange)="change($event)">
            <li *ngFor="let tabs of UiObject.Controls[0].Controls" [ngbNavItem]="tabs.ID">
                <a class="navlinks" *ngIf="CheckCondition(tabs.Options.visible)" ngbNavLink> {{tabs.Options.text}} </a>
                <ng-template ngbNavContent>
                    <form [formGroup]="form">
                        <div *ngFor="let innerTab of tabs.Controls">
                            <div class=" " *ngIf="CheckCondition(innerTab.Options.visible)">
                                <!-- {{innerTab.Controls |json }} -->
                                <app-info-panel *ngIf="innerTab.TypeID==8" [heading]="innerTab.Options.text"
                                    [Status]="Status" [formname]="innerTab.Type+''+innerTab.ID"
                                    [fields]="getInnerControls(innerTab)" (onSubmit)="SaveData($event)">
                                </app-info-panel>
                                <app-file-upload *ngIf="innerTab.TypeID==9" [heading]="innerTab.Options.text"
                                    (FileUpload)="FileUploadAPI($event)" [options]="innerTab"   [Status]="Status" 
                                    (FileUploadEvent)="FileEvent($event)" [fileObject]="getFileObject(innerTab)"
                                    [fields]="getInnerControls(innerTab)" [DirectCall]="innerTab.Options.sendAPICall">
                                </app-file-upload>
                            </div>
                        </div>

                    </form>
                </ng-template>
            </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-4 "></div>

    </div>
</section>